#container {
  color: #999;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  display: block;
}

#flip {
  --row-h: 2.3em; /* 1.2 line-height + 0.4 padding (0.2 top+bottom) + 1 margin-bottom */
  height: var(--row-h);
  overflow: hidden;
  /* border: 5px solid green; */
}

#flip > div > div {
  color: #fff;
  padding: 0.2em 0.6em;
  height: 100%;
  margin-bottom: 1em;
  line-height: 1.2em;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
  border-radius: 22px;
}

#flip div div {
  background: #42c58a;
}

#flip div:first-child div {
  background: orange;
}

#flip div:last-child div {
  background: #DC143C;
}

@keyframes show {
  0%      { margin-top: calc(var(--row-h) * -3); }
  5%      { margin-top: calc(var(--row-h) * -2); }
  33%     { margin-top: calc(var(--row-h) * -2); }
  38%     { margin-top: calc(var(--row-h) * -1); }
  66%     { margin-top: calc(var(--row-h) * -1); }
  71%     { margin-top: 0; }
  99.99%  { margin-top: 0; }
  100%    { margin-top: calc(var(--row-h) * -3); }
}